<div class="container-fluid h-100 px-5 py-4">
  <h1 class="text-center text-white mb-3">Jigsaw Puzzle!!</h1>
  <section>
    <div class="row justify-content-center align-items-center gap-5">
      <div class="col-auto">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="puzzleImage"
          (change)="onPuzzleImageChange()"  
        >
          <mat-radio-button class="example-radio-button" *ngFor="let season of puzzleList" [value]="season">
            <span class="text-white">{{season | uppercase}}</span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-auto">
        <mat-slide-toggle
          [checked]="checked"
          color="accent"
          (change)="toggleChange($event)"
        >
        <span class="text-white toggle">Show Image</span>
        </mat-slide-toggle>
      </div>
    </div>
  </section>
  <ng-container>
    <div cdkDropListGroup class="overflow-hidden d-flex flex-column justify-content-center align-items-center gap-5 py-3">
      <div class="example-container border"
      #elementRefName
      >
        <div
          cdkDropList
          [cdkDropListData]="imagesSolve"
          class="d-flex flex-wrap board"
          *ngIf="success!==100"
        >
          <ng-container *ngIf="!checked">
            <div id="hello" class="img-container border border-1" *ngFor="let item of imagesSolve">
              <ng-container *ngIf="item.imgUrl">
                <img [src]="item.imgUrl" alt="">
              </ng-container>
              <ng-container *ngIf="!(item.imgUrl)">
                <div class="box"></div>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="checked">
            <div id="hello" class="img-container border border-1" *ngFor="let item of imagesList">
              <img [src]="item.imgUrl" alt="">
            </div>
          </ng-container>
        </div>
      </div>
      <div class="wiggle"
          *ngIf="success===100">
        <img [src]="'../assets/image/'+puzzleImage+'/'+puzzleImage+'.jpeg'" alt="">
      </div>
      <div class="example-container">
        <div
          class="d-flex justify-content-center flex-wrap w-100 h-auto p-3"
        >
          <div class="img-container border" *ngFor="let item of imagesList" cdkDrag [cdkDragFreeDragPosition]="item" (cdkDragEnded)="cdkDragEnded($event)">
            <img [src]="item.imgUrl" alt="">
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>